body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.container {
  max-width: 1284px;
  margin-left: auto;
  margin-right: auto;
  
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}


ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  background-color: #4d5ae5;
}
.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  color: #ffffff;
  max-width: ;
 
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.button-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-logo {
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.accent-header {
  color: #2e2f42;
}

.footer-logo {
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.accent-footer {
  color: #f4f4fd;
}

.contacts {
  font-style: normal;
  
}

.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}



.order {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
   background-color: #2e2f42;
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.order-title {
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  max-width: 496px;
 
}

.benefits {
  background-color: #ffffff;
}


.benefits-list {
  display: flex;
  gap: 24px; 
}

.benefits-item {
}

.benefits-title {
  font-size: 0;
  overflow: hidden;
}

.benefits-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}


.team-main-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.all-team-card {
  display: flex;
  gap: 24px;
  justify-content: center;
  text-align: center;
}
.team-card {
  background-color: #ffffff;
  
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.all-portfolio-card {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
 
}
.portfolio-main-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-card {
  background-color: #ffffff;
  border: #2e2f42 solid;
  
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  height: 312px;
}

.footer-container {


  
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;

}
